@charset "utf-8";
.studioPage{width:100%;height:auto;overflow:hidden;min-width:1920px;}
.studioPage .header{width:100%;height:84px;background:#041836;display:flex;justify-content:space-between;align-items:center;}
.studioPage .header h1{margin-left:60px;display:flex;justify-content:flex-start;align-items:center;}
.studioPage .header h1 img{max-width:263px;}
.studioPage .header .sideList{display:flex;justify-content:flex-start;align-items:center;margin-right:60px;}
.studioPage .header .sideList ul{display:flex;justify-content:flex-start;align-items:center;}
.studioPage .header .sideList ul li{width:32px;height:32px;display:flex;justify-content:center;align-items:center;}
.studioPage .header .sideList ul li + li{margin-left:20px;}
.studioPage .header .sideList ul li a{display:flex;justify-content:center;align-items:center;}
.studioPage .header .sideList .userMenu{margin-left:30px;position:relative;display:flex;justify-content:flex-start;align-items:center;}
.studioPage .header .sideList .userMenu a{display:flex;justify-content:flex-start;align-items:center;}
.studioPage .header .sideList .userMenu a span{display:flex;font-size:16px;color:#fff;}
.studioPage .header .sideList .userMenu a img{display:flex;margin-left:8px;}

.studioPage .container{width:100%;height:auto;overflow:hidden;}
.studioPage .container .listHeader{width:calc( 100% - 120px );margin:0 auto;padding:60px 0 40px 0;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.studioPage .container .listHeader .scont{width:100%;flex:1;height:auto;overflow:hidden;}
.studioPage .container .listHeader .scont .stit{width:100%;height:auto;overflow:hidden;font-size:40px;color:#101014;font-weight:700;line-height:40px;}
.studioPage .container .listHeader .scont .sdesc{width:100%;height:auto;overflow:hidden;margin-top:12px;font-size:18px;color:#66666F;font-weight:400;line-height:40px;}
.studioPage .container .listHeader .sideBtn{display:flex;justify-content:flex-start;align-items:center;}
.studioPage .container .listHeader .sideBtn button{border: 2px solid #5B61F0;display:flex;justify-content:center;align-items:center;border-radius: 12px;
    background: #fff;width:80px;height:57px;overflow:hidden;padding:0;font-size:18px;color:#5B61F0;font-weight:700;
}
.studioPage .container .listHeader .sideBtn button + button{margin-left:12px;background:#5B61F0;color:#fff;}

.createPage{width:calc( 100% - 120px );margin:20px auto 60px auto;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:flex-start;}
.createPage .targetBox{width:600px;height:582px;overflow:hidden;}
.createPage .targetBox .label{}
.createPage .targetBox .formItemWrap{}
.createPage .targetBox .formItemWrap .inp{}
.createPage .targetBox .selectBtnWrap{}
.createPage .targetBox .selectBtnWrap button{}
.createPage .targetBox .selectBtnWrap button.on{}
.createPage .targetBox .scrolls{}
.createPage .targetBox .scrolls ul{}
.createPage .targetBox .scrolls ul li{}
.createPage .targetBox .scrolls ul li .mpic{}
.createPage .targetBox .scrolls ul li .mtit{}
.createPage .targetBox .scrolls ul li input{}

.createPage .settingBox{margin-left:40px;width:600px;height:582px;overflow:hidden;}
.createPage .settingBox .label{}
.createPage .settingBox .formItemWrap{}
.createPage .settingBox .formItemWrap .select{}
.createPage .settingBox .formItemWrap .inp{}
.createPage .settingBox .formItemWrap .btnFunc{}
.createPage .settingBox .addList{}
.createPage .settingBox .addList ul{}
.createPage .settingBox .addList ul li{}
.createPage .settingBox .addList ul li span{}
.createPage .settingBox .addList ul li a{}

.createPage .previewBox{border-radius:8px;margin-left:40px;width:100%;flex:1;background:#8B8B8B;height:582px;overflow:hidden;}
