@charset "utf-8";

/*login*/
.login-page-wrap{width:400px;padding:24px;border:1px solid var(--Gray800);height:auto;overflow:hidden;background:var(--White);margin:40px auto 170px auto;}
.login-page-wrap h1{width:100%;height:auto;overflow:hidden;text-align:center;font-size:24px;padding-bottom:24px;color:#282828;font-weight:700;line-height:33.6px;margin:0 auto 0 auto;}
.login-page-wrap .formItemWrap{width:100%;height:auto;margin:0 auto;}
.login-page-wrap .formItemWrap + .formItemWrap{margin-top:24px;}
.login-page-wrap .valid-msg + .formItemWrap{margin-top:24px;}
.login-page-wrap .error-msg{margin-top:6px;font-size:14px;color:#E24E4E;font-weight:700;}


.memberPage{width:100%;height:100%;overflow:hidden;position:absolute;left:0;top:0;background:rgba(0, 0, 0, 0.30);display:flex;justify-content:center;align-items:center;}
.memberCont{width:372px;padding:48px;height:auto;overflow:hidden;border-radius:24px;background:#fff;margin:0 auto;}
.memberPage .mlogo{width:100%;height:auto;overflow:hidden;text-align:center;}
.memberPage .mlogo img{max-width:100px;}
.memberPage .mtit{width:100%;height:auto;overflow:hidden;margin-top:16px;font-size:24px;color:#292E35;font-weight:700;line-height:29px;text-align:center;}
.memberPage .formItemWrap{position:relative;margin-top:40px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.memberPage .formItemWrap + .formItemWrap{margin-top:16px;}
.memberPage .valid-msg + .formItemWrap{margin-top:16px;}
.memberPage .error-msg + .formItemWrap{margin-top:24px;}
.memberPage .formItemWrap .select{max-width:126px;margin-right:8px;}
.memberPage .formItemWrap .inp{}
.memberPage .formItemWrap .inp[type=password]{}
.memberPage .formItemWrap .btn-pwd-toggle{}
.memberPage .error-msg{margin-top:8px;font-size:14px;color:#E24E4E;font-weight:700;width:100%;height:auto;overflow:hidden;}
.memberPage .formItemWrap .e01{width:27px;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;font-size:16px;color:#282828;}
.memberPage .btn-confirm{width:100%;height:64px;overflow:hidden;border-radius:8px;border:0;background:#5B61F0;padding:0;display:flex;justify-content:center;align-items:center;margin:24px auto 0 auto;font-size:18px;color:#fff;font-weight:600;}


.btn-pwd-toggle{position:absolute;right:16px;top:16px;width:24px;height:24px;overflow:hidden;border:0;background:url(../../asset/image/ico/ico-pwd-eye.svg) no-repeat center center;padding:0;}
.btn-pwd-toggle.on{background:url(../../asset/image/ico/ico-pwd-eye-on.png) no-repeat center center;background-size:24px 24px;}
.btn-keyword-remove.on{display:block;}
.btn-pwd-toggle + .btn-keyword-remove{right:43px;}

.dialog{background: rgba(0, 0, 0, 0.30);width:100%;height:100%;overflow:hidden;display:none;justify-content:center;align-items:center;position:absolute;left:0;top:0;z-index:50;}
.dialog.on{display:flex;}
.dialog .popAlert{width:372px;height:auto;overflow:hidden;border-radius:24px;padding:48px;background:#fff;}
.dialog .popAlert .msg{width:100%;height:auto;overflow:hidden;font-size:24px;color:#292E35;font-weight:700;line-height:28.8px;}
.dialog .popAlert .btnGroup{width:100%;height:auto;overflow:hidden;padding-top:40px;display:flex;justify-content:flex-end;align-items:center;}
.dialog .popAlert .btnGroup button{display:flex;justify-content:center;align-items:center;width:131px;height:64px;overflow:hidden;border-radius:8px;padding:0;background:#5B61F0;border:0;font-size:18px;color:#F2F2F2;font-weight:600;}

/**step01*/
.agreePage{}
.agreePage .agreeCont{}
.agreePage .agreeCont .mlogo{}
.agreePage .agreeCont dl{}
.agreePage .agreeCont dl dt{}
.agreePage .agreeCont dl dt label{}
.agreePage .agreeCont dl dt label input{}
.agreePage .agreeCont dl dt label strong{}
.agreePage .agreeCont dl dt label span{}
.agreePage .agreeCont dl dd{}
.agreePage .agreeCont dl dd ul{}
.agreePage .agreeCont dl dd ul li{}
.agreePage .agreeCont dl dd ul li label{}
.agreePage .agreeCont dl dd ul li label input{}
.agreePage .agreeCont dl dd ul li label strong{}
.agreePage .agreeCont dl dd ul li label span{}
.agreePage .agreeCont dl dd ul li label img{}
.agreePage .agreeCont dl dd ul li .sdesc{}
.agreePage .btnGroup{}
.agreePage .btnGroup button{}

/*인증*/
.authPage{}
.authPage .authCont{}
.authPage .authCont .mlogo{}
.authPage .authCont .label{}
.authPage .authCont .label label{}
.authPage .authCont .label label input{}
.authPage .authCont .label label strong{}
.authPage .authCont .label label span{}
.authPage .authCont .formItemWrap{}
.authPage .authCont .formItemWrap .inp{}
.authPage .authCont .formItemWrap .select{}

.authPage .authCont .radioList{}
.authPage .authCont .radioList li{}
.authPage .authCont .radioList li label{}
.authPage .authCont .radioList li label input{}
.authPage .authCont .radioList li label span{}

.authPage .agreeList{}
.authPage .agreeList>a{}
.authPage .agreeList>a span{}
.authPage .agreeList>a img{}
.authPage .agreeList ul{}
.authPage .agreeList ul li{}
.authPage .agreeList ul li a{}
.authPage .agreeList ul li a span{}
.authPage .agreeList ul li a img{}

.authPage .btnGroup{}
.authPage .btnGroup button{}